<div class="channel-list-container panel-item">
    <div class="channel-list-title col-md-12">浏览频道</div>
    <div class="channel-list col-md-12">
        <template v-for="(item,index) in [1,2,3,4,5,6,7,8]">
            <div class="channel-list-item media animation-slow">
                <a class="media-left" href="#">
                    <img src="static/image/video-thumbnail.jpg" alt="channel name">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="pull-left">
                            <a href="#">
                                <h4>Channel name</h4>
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="subscribe-button animation" :class="[{active: index===1}]">
                                <span class="subscribe-button-title">
                                    <template v-if="index!==1">
                                        <i class="fa fa-play-circle"></i>
                                        订阅
                                    </template>
                                    <template v-else>
                                        <i class="fa fa-check" v-if="index===1"></i>
                                        <i class="fa fa-close" v-if="index===1"></i>
                                        已订阅
                                    </template>


                                </span>
                                <span class="subscribe-button-count">9,080</span>
                            </div>
                        </div>
                    </div>
                    <p>channel descriptions</p>
                    <p>冒险 / 动作</p>
                </div>
            </div>
        </template>
    </div>
</div>