<div class="comment-panel panel-item panel">
    <div class="comment-panel-title panel-heading">
        评论 (203)：
    </div>

    <div class="panel-body">
        <div class="comment-post-panel col-md-12">
            <div class="media">
                <a class="media-left" href="#">
                    <img src="static/image/user.jpg" alt="user name" class="img-rounded">
                </a>
                <div class="media-body comment-post-input-container">
                    <textarea class="col-xs-12" name="comment" id="comment-input-textarea" cols="30" rows="3" placeholder="点此输入评论内容..."></textarea>
                    <button class="btn btn-default col-xs-12">发表</button>
                </div>
            </div>
        </div>

        <div class="comment-list col-md-12">
            <ul class="list-group">
                <template v-for="(comment, parentIndex) in commentData">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img :src="comment.user.avatar" alt="user name" class="img-rounded">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{comment.user.name}}
                                    <span class="comment-post-time">{{comment.postTime}}</span>
                                </h4>
                                <p>{{comment.content}}</p>
                                <div class="comment-interaction-panel">
                                    <span class="reply-button" :comment-id="connectString(parentIndex)"><i class="fa fa-reply"></i> {{comment.reply.count}}</span>
                                    <span class="thumbs-up-button"><i class="fa fa-thumbs-up"></i> {{comment.thumbsUp}}</span>
                                    <span class="thumbs-down-button"><i class="fa fa-thumbs-down"></i> {{comment.thumbsDown}}</span>
                                </div>
                                <div class="comment-reply-list-container">
                                    <div class="comment-reply-list-show-all" v-if="comment.reply.count>0">
                                        <i class="fa fa-unsorted"></i>
                                        查看全部 {{comment.reply.count}} 条回复
                                    </div>
                                    <div class="comment-reply-list row">
                                        <ul class="list-group">
                                            <template v-for="(reply, childIndex) in comment.reply.list">
                                                <li class="list-group-item">
                                                    <div class="comment-reply-item col-md-12">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <a href="#">
                                                                    <img :src="reply.user.avatar" :alt="reply.user.name" class="img-rounded">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="media-heading">
                                                                    {{reply.user.name}}
                                                                    <span class="comment-post-time">{{reply.postTime}}</span>
                                                                </h4>
                                                                <p class="comment-reply-content">{{reply.content}}</p>
                                                                <div class="comment-reply-interaction-panel">
                                                                    <span class="reply-button" :comment-id="connectString(parentIndex, '-', childIndex)"><i class="fa fa-reply"></i> {{reply.reply.count}}</span>
                                                                    <span class="thumbs-up-button"><i class="fa fa-thumbs-up"></i> {{reply.thumbsUp}}</span>
                                                                    <span class="thumbs-down-button"><i class="fa fa-thumbs-down"></i> {{reply.thumbsDown}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </template>

            </ul>
        </div>
    </div>

    <!--评论回复模板-->
    <div class="comment-reply-template" style="display: none">
        <li class="list-group-item">
            <div class="comment-reply-item col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="avatar img-rounded">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="user-name">user name</span>
                            <span class="comment-post-time">postTime</span>
                        </h4>
                        <p class="comment-reply-content">reply content</p>
                        <div class="comment-reply-interaction-panel">
                            <span class="reply-button" comment-id="">
                                <i class="fa fa-reply"></i>
                                <span class="reply-count">reply count</span>
                            </span>
                            <span class="thumbs-up-button">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="thumbs-up-count">reply thumbsUp</span>
                            </span>
                            <span class="thumbs-down-button">
                                <i class="fa fa-thumbs-down"></i>
                                <span class="thumbs-down-count">reply thumbsDown</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>