<div class="setting-panel">
    <div class="setting-account-info-panel panel-item panel">
        <div class="panel-heading">
            <span class="fa fa-check-circle"></span>
            注册成功
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <p>您的账户已经注册成功，确认邮件已经发送至 <a href="#">yourname@xxx.com</a>，请查收邮件并进行确认。</p>
                <p>
                    <div class="btn animation">重新发送注册确认邮件</div>
                </p>
            </div>

        </div>
    </div>
</div>