<div class="right-side-bar panel-item row">
    <div class="right-side-bar-title col-md-12 panel-heading">推荐视频</div>
    <div class="right-side-bar-list col-md-12">
        <template v-for="(item,index) in [0,1,2,3,4,5,6,7,8]">
            <a href="#">
                <div class="right-side-bar-video-card media animation">
                    <div class="media-left" href="#">
                        <img src="static/image/video-thumbnail.jpg" alt="video-thumbnail">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Video title</h5>
                        <p>author name</p>
                    </div>
                </div>
            </a>

            <div class="right-side-bar-list-divider" v-if="index === 0"></div>
        </template>
    </div>
    <div class="right-side-bar-more-link col-md-12 text-center">
        <a href="#">
            浏览更多
        </a>
    </div>
</div>