<div class="right-side-bar panel-item row">
    <div class="right-side-bar-title col-md-12">推荐视频</div>
    <div class="right-side-bar-list col-md-12">
        <template v-for="item in [0,1,2,3,4,5,6,7,8]">
            <div class="right-side-bar-video-card media">
                <a class="media-left" href="#">
                    <img src="../static/image/video-thumbnail.jpg" alt="video-thumbnail">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">Video title</h5>
                    <p>author name</p>
                </div>
            </div>
        </template>
    </div>
    <div class="right-side-bar-more-link col-md-12 text-center">
        浏览更多
    </div>
</div>