<div class="side-bar panel">
    <ul class="list-group">
        <template v-for="item in sideBarItems">
            <template v-if="item.icon">
                <a class="list-group-item" :class="[item.active ? 'active' : '']" href="#">
                    <span>
                        <i class="fa" :class="[item.icon]" aria-hidden="true"></i>
                        {{item.text}}
                    </span>
                </a>
            </template>
            <template v-else>
                <a class="list-group-item subclass" href="#">
                    <span>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        {{item.text()}}
                    </span>
                </a>
            </template>


        </template>
    </ul>

</div>