.channel-container {
  margin: -10px;
  padding-bottom: 20px;

  .channel-header-container {
    width: 100%;
    clear: both;
    border-bottom: 1px solid #424242;
    margin-bottom: 10px;

    .item {
      display: inline-block;
      color: #c1c1c1;
      text-align: center;
      width: 96px;
      padding: 12px 0;
      cursor: pointer;
      opacity: 0;
    }
    .item.active {
      color: #eeeeee;
    }
    .item:hover {
      color: $themeColor_GrayShine;
    }

    .search-input-container.unfocused {
      float: right;
      padding: 8px;
      height: 44px;

      .input-group {
        .form-control {
          border-color: #424242;
        }

        .btn {
          background: #424242;
          color: #636363;
          border-color: #424242;
        }
      }
    }
  }

  .carousel-container {
    position: relative;
    clear: both;
    margin: 46px 60px 40px 60px;
    height: 320px;

    .carousel-inner > .item > img {
      display: inline-block;
    }
    .carousel-inner {
      position: relative;
      height:100%;

      .item {
        height: 320px;
        padding-right: 332px;

        .img {
          display: inline-block;
          float: left;
          height: 320px;
          width: 100%;
          margin-right: 332px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .info {
          position: absolute;
          right: 0;
          top: 0;
          //display: inline-block;
          //float: right;
          width: 332px;
          height: 320px;
          background-color: #2b2b2b;
          .item {
            padding: 0;
          }
        }
      }
    }

    .carousel-control.right, .carousel-control.left {
      background: none;

      .fa {
        line-height: 60px;
      }
    }
    .carousel-control.right {
      top: 50%;
      right: -40px;
      width: 40px;
      height: 60px;
      margin-top: -30px;
      background: #545454;
    }
    .carousel-control.left {
      top: 50%;
      left: -40px;
      width: 40px;
      height: 60px;
      margin-top: -30px;
      background: #545454;
    }

    .carousel-indicators {
      bottom: -44px;
      height: 44px;
      padding: 17px 0;
      margin-bottom: 0;

      li {
        border: none;
        background-color: #636363;
        margin: 0;
      }
      li.active {
        width: 10px;
        height: 10px;
        background-color: #c1c1c1;
      }
    }


    .info {
      padding: 10px;

      .avatar {
        width: 76px;
        height: 76px;
      }
      .zh_name {
        color: #eeeeee;
        font-size: 16px;
      }
      .en_name {
        @extend .text-color-blue;
      }
      .subscribe {
        margin-top: 8px;
      }
      .description {
        color: #636363;
        margin-top: 16px;
        margin-bottom: 16px;
        height: 69px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tags {
        color: #c1c1c1;
        margin-bottom: 12px;

        span {
          padding: 0 10px;
          border-left: 1px solid #c1c1c1;
        }
        span:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
      .time {
        color: #4a4a4a;
        margin-bottom: 18px;
      }
      .preview-images {
        .item {
          float: left;
          width: 90px;
          height: 50px;
          background: $themeColor_GrayLight;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          cursor: pointer;
        }
      }
    }
  }
  .carousel-container::before {
    content: attr(title);
    position: absolute;
    left: 0;
    top: -32px;
    color: #c1c1c1;
  }


  .title {
    color: #c1c1c1;
    margin-right: 60px;
    margin-left: 60px;
    border-bottom:1px solid #424242;
    padding: 8px 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row {
    margin: 0 50px;

    .col-md-4 {
      padding: 0;
    }

  }

  .recommend-card {
    background-color: #2b2b2b;
    margin: 0 10px;

    .img {
      width: 100%;
      height: 86px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .head {
      position: relative;
      clear: both;
      margin: 10px 10px 10px 10px;

      .avatar {
        img {
          width: 40px;
          height: 40px;
        }
      }
      .subscribe {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: 8px;
      }
    }

    .zh_name {
      margin: 14px 10px 10px 10px;
      color: #eeeeee;
      font-size: 16px;
    }
    .en_name {
      @extend .text-color-blue;
      margin: 10px 10px 14px 10px;
    }

    .description {
      color: #636363;
      margin: 16px 10px 16px 10px;
      height: 69px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tags {
      margin: 0 10px 12px 10px;
      color: #c1c1c1;

      span {
        padding: 0 10px;
        border-left: 1px solid #c1c1c1;
      }
      span:first-child {
        border-left: none;
        padding-left: 0;
      }
    }
    .time {
      color: #4a4a4a;
      margin: 14px 10px 14px 10px;
    }
    .preview-images {
      height: 60px;
      margin: 0 10px 0px 10px;

      .item {
        float: left;
        width: 76px;
        height: 45px;
        background: $themeColor_GrayLight;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
      }
    }
  }
  .recommend-card:hover {
    @extend .background-color-gray-dark;
    position: relative;
    z-index: 100;
    transform: scale(1.05,1.05);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: transparent;
    cursor: pointer;
  }
  .recommend-card.short {
    .head {
      height: 60px;
      margin: 10px 0;

      .avatar {
        position: absolute;
        top: -54px;
        left: 10px;
      }
      .subscribe {
        bottom: 40px;
        right: 10px;
      }

    }
  }

}