.grid-video-card-container {
  margin: 0 -10px;

  a {
    text-decoration: none;
  }
}
.grid-video-card-container > div {
  padding: 0;
}
.grid-video-card {
  @extend .animation;

  float: left;
  padding: 10px;
  width: 20%;

  .title {
    @extend .text-color-gray-bright;
    @extend .text-bold;
    @extend .margin-top-12;
    @extend .no-break-line;
    @extend .text-over-flow-ellipsis;
  }

  .image-view {
    position: relative;
    background-color: $themeColor_GrayLight;
    width: 100%;
    //min-height: 100px;

    background-image: url("./../image/video-thumbnails/0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-view::before {
    @extend .video-image-view-duration;
  }
  img {
    width: 100%;

  }
}

.grid-video-card:hover {
  @extend .background-color-gray-dark;

  transform: scale3d(1.02,1.02, 1);
  position: relative;
  z-index: 100;
}
