.grid-video-card-container {
  //margin: 0 -5px;

  a {
    text-decoration: none;
  }
}
.grid-video-card-container > div {
  padding: 0;
}
.grid-video-card {
  //@extend .animation;

  float: left;
  padding: 10px;
  //width: 20%;

  .title {
    @extend .margin-top-10;
    @extend .no-break-line;
    @extend .text-over-flow-ellipsis;
    color: #A4A4A4;
    font-size: 14px;
    line-height: 14px;
  }

  .cn_title {
    color: #A4A4A4;
    margin-top: 5px;
    font-size: 14px;
    line-height: 14px;
  }

  .author {
    @extend .text-color-gray-light;
    @extend .margin-top-bottom-8;
    font-size: 12px;
    line-height: 12px;
    color: #828282;
    margin-top: 10px;
  }

  .info {
    font-size: 12px;
    line-height: 12px;
    color: #636363;
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .image-view {
    position: relative;
    background-color: $themeColor_GrayLight;
    width: 100%;
    //min-height: 100px;

    background-image: url("./../image/video-thumbnails/0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-view::before {
    @extend .video-image-view-duration;
  }
  img {
    width: 100%;

  }
}

.grid-video-card:hover {
  @extend .background-color-gray-dark;

  position: relative;
  z-index: 100;
  transform: scale3d(1.02,1.02, 1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  color: transparent;
  cursor: pointer;

  .author {
    color: $themeColor_Blue;
  }
}

@media (max-width: 500px) {
  .grid-video-card {
    width: 100%;
  }
}