$inputBackground: #424242;
$inputTextColor: #c1c1c1;
$inputPlaceHolderTextColor: #636363;

.login-container {
  width: 400px;

  .logo-container {
    text-align: center;
    margin-top: 218px;
    margin-bottom: 112px;
  }

  .form-group {
    position: relative;
    margin-bottom: 10px;

    .ok, .error {
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 44px;
      color: $themeColor_Red;
      display: none;
      z-index: 10;
    }
  }

  .form-group.cell-phone-number-container {
    .ok, .error {
      right: 96px;
    }
  }

  .form-group.ok {
    input {
      padding-right: 44px;
    }
    .ok {
      display: block;
    }
  }

  .form-group.error {
    input {
      padding-right: 44px;
    }

    .error {
      display: block;
    }
  }

  input {
    background-color: $inputBackground;
    color: $inputTextColor;
    border-radius: 0;
    border: none;
    height: 44px;
  }

  input.wrong {
    border: 1px solid $themeColor_Red;
  }

  input:focus  {
    box-shadow: none;
  }

  input::-webkit-input-placeholder
  {
    color: $inputPlaceHolderTextColor;
  }
  input:-moz-placeholder
  {
    color: $inputPlaceHolderTextColor;
  }
  input::-moz-placeholder
  {
    color: $inputPlaceHolderTextColor;
  }
  input:-ms-input-placeholder
  {
    color: $inputPlaceHolderTextColor;
  }

  input.form-control[disabled] {
    background-color: $inputBackground;
    color: $inputTextColor;
  }

  .input-group-btn {

    .btn {
      height: 44px;
      background-color: $inputBackground;
      color: $themeColor_Red;
      border: none;
      //border-left: 1px solid $bodyBackgroundColor;
      margin-left: 2px;
      border-radius: 0;
    }

    .btn.get-captcha {
      color: #2A2B2C;
    }
    .btn.get-captcha.active {
      color: $themeColor_Red;
    }

    .btn:focus {
      box-shadow: none;
      outline: none;
    }


  }

  .btn-ghost {
    height: 44px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-ghost:hover {
    border-color: #424242;
    color: #636363;
    cursor: not-allowed;
  }


  .btn-ghost.enable:hover {
    @extend .border-color-red;
    cursor: pointer;
  }

  .button-group{
    margin: 20px -10px 58px -10px;

    .col-xs-6, .col-xs-12 {
      padding: 0 10px;
    }
  }

  .tip {
    color: $inputTextColor;
    text-align: center;
    margin-bottom: 50px;
  }

  .forgot {
    @extend .text-color-red;
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;

    .iconfont {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      text-align: center;
      display: none;
    }
  }

  // 切换注册账户按钮组
  .btn-group {

    .btn {
      height: 44px;
      background-color: transparent;
      color: $themeColor_Red;
      border: 1px solid $inputBackground;
      border-bottom: none;
      border-radius: 0;
    }
    .btn.active {
      background-color: $themeColor_Red;
      color: $bodyBackgroundColor;
      border-color: $themeColor_Red;
    }

  }

}