.has-side-bar-menu {
  .main {
    width: 100%;
    padding-left: 220px;
    //overflow-x: hidden;
  }
}

.main-container {
  margin: 80px auto;
  //max-width: 1020px;
  padding: 10px;
  max-width: 100%;
}