/*style for develop*/
body {
    /*height: 2000px;*/
}

/*-------*/
body {
    background-color: #1B1B1B;
}

.animation {
    transition: all 0.3s ease;
}

.animation-slow {
    transition: all 0.8s ease;
}

#app {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    height: 100%;
    overflow: hidden;
}

/* navigation bar */
.navigation-bar {
    flex-grow: 0;
    border-radius: 0;
    margin: 0;
}
.navigation-bar .navbar-brand {
    padding: 6px;
}

/* main container */
.main-container {
    flex-grow: 1;

    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 100%;
    overflow: hidden;

}

/* side bar */
.side-bar {
    flex-grow: 0;

    width: 200px;
    height: 100%;
    padding: 13px 22px;
    overflow-y: scroll;
    background-color: #222222;
}

.side-bar-item {
    width: 100%;
    height: 28px;
    clear: both;
    color: #484848;
}
.side-bar-item:last-child {
    border-bottom: none;
}

.nav-pills > li.side-bar-item > a {
    padding: 2px 8px;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    color: inherit;
    overflow: auto;
    border-radius: 0;
}

.nav-pills > li.side-bar-item > a:hover {
    background-color: #444444;
    color: #ffffff;
}

.side-bar-item .icon {
    float: left;
}

.side-bar-item .title {
    float: left;
}

/* main content */
.main-content {
    flex-grow: 1;

    height: 100%;
    overflow-y: scroll;
}
.main-content-item {
    margin: 0 8px;
}
.main-content-item-title {
    padding-top: 16px;
    color: rgba(206, 19, 17, 0.7);
}
.main-content-item-container {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* main content video card */
.main-content-item-video-card {
    padding: 8px;
}
.main-content-item-video-card .thumbnail {
    background: none;
    border: none;
    border-radius: 0;
}
.main-content-item-video-card .thumbnail:hover {
    background-color: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.main-content-item-video-card .thumbnail img {
    width: 100%;
    height: auto;
}
.main-content-item-video-card a{
    text-decoration: none;
}
.main-content-item-video-card a .caption {
    color: #6b6b6b;
}
.main-content-item-video-card a .thumbnail:hover .caption{
    color: rgba(255, 255, 255, 0.6);
}
.video-thumbnail {
    position: relative;
}
.video-thumbnail:before {
    content: attr(video-time);
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.65);
    padding: 4px 6px;
    font-size: 12px;
}
/* footer */
.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}
.footer-link-container a {
    padding: 0 8px;
    border-right: 1px solid #cccccc;
}
.footer-link-container a:last-child {
    border-right: none;
}