/*style for develop*/
body {
    /*height: 2000px;*/
}

/*-------*/
body {
    background-color: #3E5266;
}

#app {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    height: 100%;
    overflow: hidden;
}

/* navigation bar */
.navigation-bar {
    flex-grow: 0;
    border-radius: 0;
    margin: 0;
}

/* main container */
.main-container {
    flex-grow: 1;

    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 100%;
    overflow: hidden;

}

/* side bar */
.side-bar {
    flex-grow: 0;

    width: 200px;
    height: 100%;
    overflow-y: scroll;
    background-color: #222222;
}

.side-bar-item {
    padding: 8px;
    color: rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.side-bar-item:last-child {
    border-bottom: none;
}

/* main content */
.main-content {
    flex-grow: 1;

    height: 100%;
    overflow-y: scroll;
}
.main-content-item-title {
    padding-top: 16px;
}
.main-content-item-container {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

/* main content video card */
.main-content-item-video-card {
    padding: 8px;
}
.main-content-item-video-card .thumbnail {
    background: none;
    border: none;
}

/* footer */
.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}
.footer-link-container a {
    padding: 0 8px;
    border-right: 1px solid #cccccc;
}
.footer-link-container a:last-child {
    border-right: none;
}