<div class="side-bar-menu background-color-panel">
    <a href="home.html">
        <div class="item active">
            <div class="icon">
                <span class="iconfont">&#xe60c;</span>
            </div>
            <div class="title">首页</div>
            <!--<div class="info">44+</div>-->
        </div>
    </a>

    <!--<a href="#">-->
    <div class="item">
        <div class="icon">
            <span class="iconfont">&#xe60f;</span>
        </div>
        <div class="title">游戏分类</div>
        <!--<div class="info">44+</div>-->

        <div class="submenu">
            <div class="item">
                <div class="item back">
                    <span class="fa fa-angle-left"></span>
                    PLAYSTATION
                </div>
                <a href="#" class="title">PLAYSTATION</a>
                <div class="subclass">
                    <div class="subclass-item">
                        <a href="#" class="item">动作</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">冒险</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">设计</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">运动</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item back">
                    <span class="fa fa-angle-left"></span>
                    XBOX
                </div>
                <a href="#" class="title">XBOX</a>
                <div class="subclass">
                    <div class="subclass-item">
                        <a href="#" class="item">动作</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">冒险</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">设计</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">运动</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item back">
                    <span class="fa fa-angle-left"></span>
                    STEAM
                </div>
                <a href="#" class="title">STEAM</a>
                <div class="subclass">
                    <div class="subclass-item">
                        <a href="#" class="item">动作</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">冒险</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">设计</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">运动</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item back">
                    <span class="fa fa-angle-left"></span>
                    ORIGIN
                </div>
                <a href="#" class="title">ORIGIN</a>
                <div class="subclass">
                    <div class="subclass-item">
                        <a href="#" class="item">动作</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">冒险</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">设计</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">运动</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</a>-->

    <a href="#">
    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">频道列表</div>
        <div class="info"></div>
    </div>
    </a>
    
    <div class="separator-line"></div>

    <div class="title-item">
        <div class="title">订阅内容</div>
    </div>


    <div class="book-channel-success">
        <div class="title">订阅成功</div>
    </div>

    <div class="channel-list">
        <a href="#">
        <div class="item">
            <div class="logo">
                <img src="../static/image/avatars/0.jpg" alt="">
            </div>
            <div class="title">频道0</div>
            <div class="info">44+</div>
        </div>
        </a>

        <a href="#">
        <div class="item">
            <div class="logo">
                <img src="../static/image/avatars/1.jpg" alt="">
            </div>
            <div class="title">频道1</div>
            <div class="info">44+</div>
        </div>
        </a>
    </div>

    <div class="item test-book-channel">
        <div class="icon">
            <span class="fa fa-plus"></span>
        </div>
        <div class="title">测试添加频道</div>
        <div class="info"></div>
    </div>
</div>