<div class="content-class-filter">
    <div class="btn btn-ghost">过滤条件 <span class="fa fa-angle-down"></span></div>
    <div class="item">
        <div class="class-title">
            内容类型
        </div>
        <div class="class-options">
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
            <div class="option-item">动作</div>
            <div class="option-item">射击</div>
            <div class="option-item">冒险</div>
        </div>
    </div>

    <div class="item">
        <div class="class-title">
            发行商
        </div>
        <div class="class-options">
            <div class="option-item">UBISOFT</div>
            <div class="option-item">SQUARE ENIX</div>
            <div class="option-item">CAPCOM</div>
        </div>
    </div>

    <div class="button-group">
        <div class="btn btn-ghost">筛选</div>
        <div class="btn btn-ghost">删除</div>
    </div>

</div>