<div class="content-class-filter">
    <div class="btn btn-ghost filter-display-button">过滤条件 <span class="fa fa-angle-up"></span></div>
    <div class="content">
        <div class="item">
            <div class="class-title">
                内容类型
            </div>
            <div class="class-options">
                <div class="option-item active">动作</div>
                <div class="option-item">射击</div>
                <div class="option-item">冒险</div>
                <div class="option-item">动作</div>
                <div class="option-item active">射击</div>
                <div class="option-item">冒险</div>
                <div class="option-item">动作</div>
                <div class="option-item">射击</div>
                <div class="option-item">冒险</div>
                <div class="option-item">动作</div>
                <div class="option-item">射击</div>
                <div class="option-item">冒险</div>
                <div class="option-item">动作</div>
                <div class="option-item">射击</div>
                <div class="option-item">冒险</div>
                <div class="option-item">动作</div>
                <div class="option-item">射击</div>
                <div class="option-item">冒险</div>
            </div>
        </div>

        <div class="item">
            <div class="class-title">
                发行商
            </div>
            <div class="class-options">
                <div class="option-item active">UBISOFT</div>
                <div class="option-item">SQUARE ENIX</div>
                <div class="option-item">CAPCOM</div>
            </div>
        </div>

        <div class="button-group">
            <div class="btn btn-ghost" action="do-filter">筛选</div>
            <div class="btn btn-ghost" action="clean-filter">删除</div>
        </div>
    </div>
</div>