<div class="navigation-bar background-color-panel">
    <div class="navigation-bar-left-container">
        <div class="slidebar-menu-button text-color-gray-light">
            <div class="fa fa-bars"></div>
        </div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>

    <div class="navigation-bar-search-bar-container">
        <div class="search-input-container">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="search">
                <div class="input-group-btn">
                    <div class="btn">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-bar-right-container">
        <div>Avatar</div>
        <div>Log in</div>
        <div>Log out</div>
    </div>
</div>