<div class="side-bar-menu background-color-panel">
    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">XX</div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>
</div>