<div class="side-bar-menu background-color-panel">
    <div class="item active">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <!--<div class="info">44+</div>-->
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">游戏分类</div>
        <!--<div class="info">44+</div>-->

        <div class="submenu">
            <div class="item">
                <a href="#" class="title">PLAYSTATION</a>
                <div class="subclass">
                    <div class="subclass-item">
                        <a href="#" class="item">动作</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">冒险</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">设计</a>
                    </div>
                    <div class="subclass-item">
                        <a href="#" class="item">运动</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="#" class="title">XBOX</a>
            </div>
            <div class="item">
                <a href="#" class="title">STEAMM</a>
            </div>
            <div class="item">
                <a href="#" class="title">ORIGIN</a>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>
    
    <div class="separator-line"></div>

    <div class="title-item">
        <div class="title">订阅内容</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>
</div>