<div class="side-bar-menu background-color-panel">
    <div class="item active">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>
    
    <div class="separator-line"></div>

    <div class="title-item">
        <div class="title">订阅内容</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>

    <div class="item">
        <div class="icon">
            <span class="fa fa-home"></span>
        </div>
        <div class="title">首页</div>
        <div class="info">44+</div>
    </div>
</div>