<div class="video-detail">
    <div class="panel-title text-color-blue">VIDEO NAME XXX XXHS</div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" src="./../static/image/avatars/0.jpg" alt="User Name">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-color-gray-light">User Name</h4>
                    <p>
                    <div class="btn btn-subscribe unsubscribed">1039</div>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6 text-color-gray-light text-right">
            <span class="palyed-count">328,056</span>
            次观看
        </div>
    </div>
    <div class="separator-line"></div>
    <div class="text-color-gray-light">
        <span>收藏</span>
        <span>分析</span>
        <span>赞</span>
    </div>
    <div class="separator-line"></div>
    <div class="video-published-date">
        2017年2月10日发布
    </div>
    <div class="video-description">
        内容简介内容简介内容简介内容简介内容简介内容简介
    </div>
    <div class="video-name">
        游戏名称
    </div>
</div>