<!--主内容区域-->
<div class="main has-side-bar-menu">
    <div class="container panel-view main-container">
        <template-slot></template-slot>
    </div>

    <div class="container main-container footer">
        <div class="pull-left">
            <a class="item" href="#">关于我们</a>
            <a class="item" href="#">用户反馈</a>
            <a class="item" href="#">常见问题</a>
        </div>
        <div class="pull-right">
            <div class="copyright">
                CopyRight 2016 Samured 京ICP备XXXXXX号-1
            </div>
        </div>
    </div>

</div>