<div class="navigation-bar background-color-panel">
    <div class="navigation-bar-left-container">
        <div class="slidebar-menu-button text-color-gray-light">
            <div class="fa fa-bars"></div>
        </div>
        <div class="logo">
            <img src="../static/image/logo.png" alt="">
        </div>
    </div>

    <div class="navigation-bar-search-bar-container">
        <div class="search-input-container">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="search">
                <div class="input-group-btn">
                    <div class="btn">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-bar-right-container">
        <div class="item avatar">
            <img class="img-circle" src="./../static/image/avatars/0.jpg" alt="">
            <div class="profile-preview">
                <div class="header-image" style="background-image: url(../static/image/user/default_cover.jpg)"></div>
                <div class="avatar">
                    <img src="../static/image/avatars/0.jpg" alt="">
                </div>
                <div class="edit-button bind-open-user-profile">
                    <div class="iconfont">&#xe603;</div>
                </div>
                <div class="account">
                    <span class="name">狂战士JK</span>
                    <span class="phone">18028378593</span>
                </div>
            </div>
        </div>

        <div class="item message-box-button">
            <span class="fa fa-inbox"></span>
        </div>

        <div class="item">登录</div>
    </div>
</div>

<div class="message-box" style="display: none;">
    <div class="title">系统通知</div>
    <div class="content"></div>
</div>

<!--用户信息面板-->
<div class="user-container">
    <div class="close iconfont">&#xe605;</div>
    <!--封面-->
    <div class="cover">
        <div class="edit-button">
            <div class="fa fa-pencil-square-o"></div>
        </div>
    </div>

    <!--头像-->
    <div class="avatar">
        <div class="edit-button">
            <div class="fa fa-pencil-square-o"></div>
        </div>
    </div>

    <!--表单-->
    <div class="form">
        <form class="form-inline">
            <div class="form-group">
                <label for="name" class="title">昵称</label>
                <input type="text" class="form-control" id="name" placeholder="">
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group">
                <label for="cell-phone-number" class="title">手机号</label>
                <input type="text" class="form-control" id="cell-phone-number" placeholder="">
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group">
                <label for="mail" class="title">邮箱</label>
                <input type="text" class="form-control" id="mail" placeholder="">
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group">
                <label class="title">生日</label>
                <input type="number" class="form-control" id="year" placeholder="" max="2017" min="1900" step="1">
                <label for="year">年</label>
                <input type="number" class="form-control" id="month" placeholder="" max="12" min="1" step="1">
                <label for="month">月</label>
                <input type="number" class="form-control" id="day" placeholder="" max="31" min="1" step="1">
                <label for="day">日</label>
            </div>
        </form>

        <form class="form-inline">
            <div class="form-group">
                <label class="title">性别</label>
                <div class="gender-container">
                    <label>女 <span attr="女" class="fa fa-square-o"></span> </label>
                    <label>男 <span attr="男" class="fa fa-square-o"></span> </label>
                    <label>保密 <span attr="保密" class="fa fa-square-o"></span> </label>
                </div>

            </div>
        </form>

        <!--确定、取消按钮-->
        <div class="button-group">
            <div class="btn btn-ghost update-user-profile-btn">确定</div>
        </div>

    </div>

    <!--退出登录链接-->
    <a href="#" class="logout">退出登录</a>

    <!--上传头像文件选择框-->
    <div class="select-avatar-container">
        <div class="main">
            <div class="title">编辑头像</div>
            <div class="close iconfont">&#xe605;</div>
            <div class="pick-image iconfont">&#xe60e;</div>
            <div class="tip">
                建议背景图片尺寸2560*1440，且小于4M
            </div>
        </div>
        <div class="shadow"></div>
    </div>
    <!--上传背景图片文件选择框-->
    <div class="select-cover-container">
        <div class="main">
            <div class="title">编辑头像</div>
            <div class="close iconfont">&#xe605;</div>
            <div class="pick-image iconfont">&#xe60e;</div>
            <div class="tip">
                建议背景图片尺寸2560*1440，且小于4M
            </div>
        </div>
        <div class="shadow"></div>
    </div>
</div>

<!--用户反馈弹窗-->
<div class="feed-back">
    <div class="feed-back-content">
        <div class="title">用户反馈</div>
        <textarea name="feed-back" id="" cols="30" rows="10" class="feed-back-input"></textarea>
        <div class="checkbox">
            <label>
                <input type="checkbox"> 使用屏幕截图
            </label>
        </div>

        <div class="screenshot-preview">

        </div>

       <div class="button-group">
          <div class="btn btn-ghost">确定</div>
          <div class="btn btn-ghost">取消</div>
       </div>
    </div>
</div>