<div class="video-player" ratio-list="720,1080,1440,2160">
    <video poster="../static/image/video-thumbnail.jpg" controls>
        <source src="../static/video/demo.mp4" type="video/mp4">
        <!--<source src="/path/to/video.webm" type="video/webm">-->
        <!-- Captions are optional -->
        <track kind="captions" label="English captions" src="../static/video/video.vtt" srclang="en" default>
    </video>
    <!--
    <div class="play-end-view active">
        <template v-for="(item1, index1) in new Array(12)">
            <div class="item">
                <a href="#">
                <div class="content" style="background-image: url(../static/image/video-thumbnails/0.jpg)">
                    <div class="en_title">Horizon Zero DownHorizon Zero DownHorizon</div>
                    <div class="zh_title">地平线 PS4 游戏 地平线 PS4 游戏</div>
                    <div class="time">2小时前</div>
                </div>
                </a>
            </div>
        </template>
    </div>
    -->
</div>