<div class="no-network-tip">
    <span class="fa fa-warning tip-icon"></span>
    网呢？
    <div class="pull-right close-button">
        <span class="fa fa-close"></span>
    </div>
</div>

<div class="video-detail panel-view">
    <div class="panel-title-view text-color-blue-light">VIDEO NAME XXX XXHS</div>
    <div class="row video-basic-info">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle user-avatar" src="./../static/image/avatars/0.jpg" alt="User Name">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-color-gray-light text-size-14">User Name</h4>
                    <p>
                    <div class="btn btn-subscribe unsubscribed" video-id="100">1039</div>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-6 text-color-gray-light text-right text-size-14">
            <div class="palyed-count">328,056次观看</div>
        </div>
    </div>
    <div class="separator-line"></div>
    <div class="action-buttons">
        <div class="collect active">
            <span class="fa fa-star-o"></span>
            收藏
        </div>
        <div class="share">
            <span class="fa fa-share"></span>
            分享
        </div>
        <div class="thumbs-up" video-id="100">
            <span class="fa fa-thumbs-o-up"></span>
            <span class="text-size-12 count">
                1,893
            </span>
        </div>
    </div>
    <div class="social-share">
    </div>
    <div class="separator-line"></div>
    <div class="video-published-date">
        2017年2月10日发布
    </div>
    <div class="video-description">
        内容简介内容简介内容简介内容简介内容简介内容简介
    </div>
    <div class="video-name">
        <div class="pull-left title">
            游戏名称
        </div>
        <div class="pull-left">
            地平线
            <br>
            HORIZON: ZERO DAWN
        </div>
    </div>
    
    <div class="separator-line"></div>

    <div class="view-more-button">
        <span class="fa fa-chevron-down"></span>
    </div>
</div>