.list-video-card {
  padding: 5px 12px;
  margin: 0;

  .image-view {
    position: relative;
    background-color: $themeColor_GrayLight;
    width: 140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
      width: 100%;
      border:none;
    }
  }

  .image-view::before {
    @extend .video-image-view-duration;
  }

  h4 {
    @extend .no-break-line;
    @extend .text-over-flow-ellipsis;
    width: 140px;
  }

  a {
    text-decoration: none;
    overflow: auto;
  }
}