.flex-row-left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.navigation-bar {
  @extend .flex-row-left-container;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  z-index: 200;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);

  .logo {
    padding-top: 8px;
  }

  .navigation-bar-left-container {
    @extend .flex-row-left-container;
    width: 220px;

    // 侧边栏按钮
    .slidebar-menu-button {
      position: relative;
      left: -20px;
      margin-left: 38px;
      padding: 12px 21px;
      cursor: pointer;
    }

    .slidebar-menu-button:hover {
      @extend .text-color-gray-bright;
    }

    // logo 展示
    .logo {
      width: 120px;
    }
  }

  .navigation-bar-search-bar-container {
    @extend .flex-row-left-container;
    align-items: center;
    width: 340px;
  }

  .navigation-bar-right-container {
    @extend .flex-row-left-container;
    @extend .text-color-red;
    flex-direction: row-reverse;
    flex-grow: 1;
    cursor: pointer;
    padding-right: 34px;

    .item {
      margin: 10px 4px;
      line-height: 20px;
      font-size: 14px;
      border: 1px solid transparent;
      padding: 1px 10px;
    }
    .item:hover {
      border-color: #424242;
    }

    .item.avatar {
      position: relative;
      padding: 6px 10px;
      margin: 0;

      .profile-preview {
        position: absolute;
        right: 0;
        top: 52px;
        width: 260px;
        height: 180px;
        background-color: #383838;
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.5);
        display: none;

        .header-image {
          width: 100%;
          height: 90px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .avatar {
          position: absolute;
          left: 10px;
          top: 62px;
          width: 58px;
          height: 58px;
          border-radius: 50%;
          border: 2px solid #383838;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .edit-button {
          position: absolute;
          top: 100px;
          right: 14px;
          width: 18px;
          height: 18px;
          line-height: 18px;
          .iconfont {
            font-size: 18px;
            color: #c1c1c1;
          }
        }
        .account {
          position: absolute;
          bottom: 28px;
          left: 12px;
          color: #c1c1c1;
          .name {
            padding-right: 18px;
            margin-right: 18px;
            border-right: 1px solid #545454;
          }
        }
      }
      .profile-preview:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 20px;
      }
    }
    .item.avatar:hover {
      border-color: transparent;
      .profile-preview {
        display: block;
      }
    }

    img {
      height: 32px;
      width: 32px;
    }
  }
}

// dev
.navigation-bar > div
{
  //border: 1px solid #ff6600;
}

.navigation-bar > div > div
{
  //border: 1px solid #cccccc;
}

.message-box {
  position: fixed;
  top: 50px;
  right: 116px;
  width: 480px;
  border: 1px solid #545454;
  z-index: 200;
  background-color: $themeColor_GrayDark;

  .title {
    @extend .panel-title-view;
    padding: 14px 36px;
    margin: 0;

    .back {
      margin: -2px -10px -10px -22px;
      padding: 0 20px 0 10px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .content {
    max-height: 400px;
    overflow-y: scroll;

    .message-item-cell {
      position: relative;
      overflow: auto;
      border-top: 1px solid #545454;
      padding: 10px 12px 10px 36px;
      cursor: pointer;

      .preview {
        float: left;

        img {
          width: 120px;
        }
      }

      .content {
        float: left;
        width: 100%;

        .item-title {
          color: #828282;
        }
        .item-title.text-color-blue{
          color: $themeColor_Blue;
        }
        .time {
          @extend .text-color-gray-info;
        }
        .content-preview {
          @extend .text-color-gray-info;
          @extend .text-over-flow-ellipsis;
          @extend .no-break-line;
        }

        .content-display {
          @extend .text-color-gray-info;
        }

      }

    }
    .message-item-cell.unread:before {
      content: "";
      position: absolute;
      left: 16px;
      top: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background-color: $themeColor_Red;
    }
    .message-item-cell:hover .item-title {
      @extend .text-color-blue;
    }

  }

}

.feed-back {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  background-color: rgba(0,0,0,0.5);
  display: none;

  .feed-back-content {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 320px;
    height: 320px;
    margin: -160px 0 0 -160px;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    z-index: 1;

    .title {
      text-align: center;
    }

    textarea.feed-back-input {
      border: none;
    }

    .screenshot-preview {
      canvas {
        width: 100%;
      }
    }
  }
}