.sort-container {
  margin: -10px;
  padding-bottom: 20px;

  .panel-view {
    padding-top: 1px;
  }

  .header-view {
    padding: 0;
    margin-bottom: 0;

    .cover {
      position: relative;
      width: 100%;
      height: 280px;
      background-color: #c1c1c1;

      .avatar {
        position: absolute;
        left: 20px;
        top: 0;
        height: 100px;
        width: 100px;
        background-color: #ffffff;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .info {
      position: relative;
      width: 100%;
      height: 100px;

      .title {
        margin: 18px 20px;
        font-size: 22px;
        color: #c1c1c1;
        a {
          color: #c1c1c1;
        }
        a:hover {
          color: $themeColor_Red;
        }
      }
      .links {
        margin: 36px 20px 0 0;
        a {
          color: #828282;
          text-decoration: none;
          padding: 13px 20px;
        }
        a.active, a:hover {
          color: #c1c1c1;
          border-bottom: 1px solid $themeColor_Red;
        }
        .search {
          display: inline-block;
          .form-control {
            width: 174px;
            height: 24px;
            box-shadow: none;
            outline: none;
            background: none;
            border-color: #545454;
            border-radius: 0;
            margin-left: 15px;
            font-size: 12px;
            color: #656565;
            padding-left: 6px;
          }
          .form-control::-webkit-input-placeholder
          {
            color: #545454;
          }
          .form-control:-moz-placeholder {
            color: #545454;
          }
          .form-control::-moz-placeholder {
            color: #545454;
          }
          .form-control:-ms-input-placeholder {
            color: #545454;
          }
        }
      }
      .subscribe {
        position: absolute;
        top: 0;
        right: 20px;
      }

    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 10px;

    .left {
      width: 400px;
      flex-grow: 1;
      flex-shrink: 1;
      .recommend {
        .title {
          color: #c1c1c1;
          margin-bottom: 18px;
          a {
            color: #c1c1c1;
          }
          a:hover {
            color: $themeColor_Red;
          }
        }
        .recommend-card {
          padding: 0;
          margin-bottom: 22px;

          .media-left {
            .image-view {
              width: auto;
              img {
                width: 396px;
              }
            }
            .image-view::before {
              bottom: 12px;
              width: 94px;
              height: 27px;
              font-size: 27px;
              line-height: 27px;
              font-weight: lighter;
            }
          }
          .en_name {
            font-size: 16px;
            margin-bottom: 12px;
            width: 300px;
          }
          .zh_name {
            font-size: 16px;
            margin-bottom: 20px;
            width: 300px;
          }
          .time {
            color: #c1c1c1;
            margin-bottom: 20px;
          }
          .description {
            font-size: 10px;
            color: #636363;
            line-height: 20px;
          }
        }
      }

      .title {
        color: #c1c1c1;
        margin-top: 18px;
        margin-bottom: 6px;
        a {
          color: #c1c1c1;
        }
        a:hover {
          color: $themeColor_Red;
        }
      }
      .video-list-container {
        margin: 0 -10px;
        min-height: 230px;
        //height: 190px;

        .carousel-control {
          width: 20px;
          background: none;
          line-height: 186px;
          color: #c1c1c1;
          opacity: 1;
        }
        .carousel-control:hover {
          z-index: 200;
        }
        .carousel-control span.fa {
          transition: background-color 0.3s ease;
          background-color: rgba(84, 84, 84, 0);
        }
        .carousel-control:hover span.fa {
          margin-top: 38px;
          width: 42px;
          height: 62px;
          background: #545454;
          line-height: 62px;
          color: #c1c1c1;
          opacity: 1;
        }
        .carousel-control.left {
          margin-left: -10px;
        }
        .carousel-control.right {
          margin-right: -10px;
        }
        .carousel-control.left:hover span.fa {
          margin-left: -32px;
          margin-right: -10px;
        }
        .carousel-control.right:hover span.fa{
          margin-right: -32px;
          margin-left: -10px;
        }
      }

      .video-list-container.video-list-container-type-2 {
        .carousel-control {
          margin-top: 38px;
          width: 42px;
          height: 62px;
          background: #545454;
          line-height: 62px;
          color: #c1c1c1;
          opacity: 1;
        }
        .carousel-control.left {
          margin-left: -32px;
        }
        .carousel-control.right {
          margin-right: -32px;
        }
      }
    } //.left

    .right {
      width: 180px;
      flex-shrink: 0;
      .panel-view {
        margin: 10px 0;
        padding: 0;
        .title {
          text-align: center;
          height: 36px;
          line-height: 36px;
          color: #c1c1c1;
          border-bottom: 2px solid #2b2b2b;
        }
        .item {
          text-align: center;
          height: 28px;
          line-height: 28px;
          color: #828282;
          border-bottom: 1px solid #2b2b2b;
          cursor: pointer;
        }
        .item.hide-item {
          display: none;
        }
        .item:last-child {
          border-bottom: none;
        }
      }
    }
  }


  // 简介页面
  .label-mark {
    color: #c1c1c1;
    margin: 30px 0 18px 0;
    font-size: 14px;
    clear: both;
    width: 100%;
  }

  p {
    color: #828282;
    line-height: 18px;
  }

  // 视频列表页面
  .panel-view.sort-video {
    padding-bottom: 10px;

    .list-video-card {
      margin-left: 0;
      height: auto;
      margin-bottom: -5px;

      .image-view {
        width: 180px;
      }

      .media-heading {
        @extend .text-over-flow-ellipsis;
        @extend .no-break-line;
        color: $themeColor_Blue;
        width: auto;
      }

      .zh_name {
        @extend .text-over-flow-ellipsis;
        @extend .no-break-line;
        color: #c1c1c1;
        font-size: 12px;
        width: auto;
      }

      .watch-count {
        color: #636363;
        margin-top: 12px;
        font-size: 12px;
      }
    }
  }
  .list-video-card {
    position: relative;
    //margin-left: 10px;
    padding: 0;
    //height: 84px;

    h4 {
      width: 700px;
    }

    .image-view {
      width: 150px;
    }

    .delete {
      @extend .text-color-gray-info;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0px 10px;
      line-height: 20px;
      cursor: pointer;
    }
    .delete:hover {
      color: $themeColor_GrayBright;
    }

    .media-heading {
      @extend .text-color-gray-bright;
    }
    .watch-count {
      color: #636363;
    }
  }

  .btn-group.open {
    .btn-ghost {
      border-color: $themeColor_Red;
      color: $themeColor_Red;
    }
    .dropdown-menu {
      background: #373839;
      border-radius: 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
      li {
        a {
          color: #828282;
        }
        a:hover {
          background-color: #2a2a2a;
        }
      }
    }
  }
  .head {
    .title {
      display: inline-block;
      margin-bottom: 10px !important;
    }
    .button-group {
      float: right;
      margin-top: 10px;
    }
  }

  // sort-album
  .panel-view.sort-album {
    padding-bottom: 1px;

    .list-video-card {
      margin-left: 0;
      height: auto;
      margin-bottom: -5px;

      .media-body {
        width: 100%;
      }

      .image-view {
        width: 180px;
        .video-view-mask {
          position: absolute;
          left:0;
          bottom: 0;
          right: 0;
          height: 30px;
          background-color: rgba(0,0,0,0.5);
          color: #c1c1c1;
          text-align: right;
          line-height: 30px;
          padding-right: 10px;
        }
      }
      .image-view:before {
        display: none;
      }

      .media-heading {
        @extend .text-over-flow-ellipsis;
        @extend .no-break-line;
        color: #c1c1c1;
        width: auto;
      }

      .zh_name {
        @extend .text-over-flow-ellipsis;
        @extend .no-break-line;
        color: #c1c1c1;
        font-size: 12px;
        width: auto;
      }

      .watch-all-video {
        @extend .unselectable;
        color: #636363;
        margin-top: 18px;
        font-size: 12px;
        cursor: pointer;
      }
      .watch-all-video:hover {
        color: #c1c1c1;
      }

      .play-list {
        margin-right: 158px;
        .item {
          clear: both;
          height: 14px;
          line-height: 18px;
          font-size: 12px;
          color: $themeColor_BlueLight;
          font-weight: lighter;
        }
        .item:hover {
          color: $themeColor_Blue;
        }
      }
    }

    .album-video-list {
      clear: both;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 2px;
      .separator-line {
        margin: 0;
      }

      .item {
        height: 70px;
        padding: 5px 0;
        .index {
          display: inline-block;
          width: 50px;
          line-height: 56px;
          text-align: center;
          color: #c1c1c1;
        }
        .preview {
          display: inline-block;
          width: 90px;
          //height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          img {
            width: 100%;
            height: auto;
          }
        }
        .info {
          display: inline-block;
          margin-left: 12px;
          .title {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
            color: $themeColor_Blue;
            font-weight: lighter;
          }
          .time {
            font-size: 12px;
            line-height: 16px;
            color: #bababa;
            font-weight: lighter;
          }
        }
        .duration {
          display: inline-block;
          float: right;
          width: 60px;
          color: #bababa;
          font-weight: lighter;
        }
      }
      .item:hover {
        .info {
          .title {
            color: $themeColor_BlueLight;
          }
        }
      }

    }

    .grid-video-card-container {
      overflow: auto;
      margin-left: -10px;
      margin-right: -10px;
      .grid-video-card {
        .title {
          color: $themeColor_Blue;
          font-size: 12px;
          margin-bottom: 10px;
        }
        .count-and-time {
          font-size: 12px;
          margin-top: 10px;
          color: #595959;
        }
        .grid-view-watch-all-video {
          font-size: 12px;
          margin-top: 16px;
          color: #595959;
        }
        .image-view {
          .video-view-mask {
            position: absolute;
            left:0;
            bottom: 0;
            right: 0;
            height: 30px;
            background-color: rgba(0,0,0,0.5);
            color: #c1c1c1;
            text-align: right;
            line-height: 30px;
            padding-right: 10px;
          }
        }
        .image-view:before {
          display: none;
        }
      }
    }
  }


}