.video-player {
  @extend .panel-view;

  margin-bottom: 48px;
  padding: 0;
  background-color: $themeColor_Red;

  .plyr__controls {
    position: relative;

    .plyr__progress input[type="range"] {
      opacity: 0;
    }

    .plyr__progress:hover input[type="range"] {
      opacity: 1;
    }

    .plyr__progress {
      position: absolute;
      left: 0;
      top: -12px;
      width: 100%;
      margin: 0;

      .plyr__progress--buffer {
        background-color: #2B2B2B;
        border-radius: 0;
        height: 4px;
        margin: -2px 0 0;
      }

      .plyr__progress--played {
        height: 4px;
        margin: -2px 0 0;
      }

    }

    .right-container {
      position: absolute;
      right: 0;
      padding-right: 10px;
    }

    button {
      .iconfont {
        font-size: 18px;
      }
    }

    button.fullscreen {
      .iconfont {
        font-size: 13px;
      }
    }

  }

  .plyr--fullscreen-active {
    .plyr__controls {
      button {
        padding-left: 13px;
        padding-right: 13px;

        .iconfont {
          font-size: 28px;
        }
      }
      button.toggle-ratio-mode {
        span.iconfont, span {
          font-size: 19px;
        }
        .ratio-list {
          font-size: 19px;
        }
      }
      button.fullscreen {
        .iconfont {
          font-size: 21px;
        }
      }
    }
  }

  .plyr [data-plyr='captions'], .plyr [data-plyr='fullscreen'] {
    display: inline-block;
  }

}