.video-play-list {
  @extend .panel-view;
  margin-left: 0;
  padding: 0;
  background-color: #212121;

  .play-list-info {
    position: relative;
    padding: 20px 0;

    .media-left {
      padding: 0 14px 0 10px;
      color: #828282;
      .fa {
        position: relative;
        top: -2px;
      }
    }

    .zh_name {
      margin-top: 10px;
    }

    .statistics {
      margin-top: 14px;
      color: #828282;

      span {
        border-left: 1px solid #828282;
        padding: 0 10px;
      }
      span:first-child {
        border-left: none;
        padding-left: 0;
      }

      .save-to-list {
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;

        span {
          padding: 0 2px;
        }
      }
    }
  }

  .separator-line {
    margin-bottom: 0;
  }

  .video-play-list-view {
    position: relative;
    height: 440px;
    //overflow-y: scroll;
    overflow: hidden;

    .iScrollVerticalScrollbar {
      position: absolute;
      z-index: 9999;
      width: 10px;
      bottom: 0;
      top: 0;
      right: 0;
      overflow: hidden;
      background-color: #212121;
      border-left: 1px solid #2C2C2C;
      padding-left: 1px;

      .iScrollIndicator {
        width: 100%;
        background: #828282;
      }
    }

    .video-play-list-item {
      height: 70px;
      width: 100%;
      clear: both;
      padding: 10px 16px 10px 0;
      cursor: pointer;

      .index {
        width: 40px;
        color: #c1c1c1;
        float: left;
        text-align: center;
        line-height: 50px;
      }

      .index.active {
        color: $themeColor_Red;
      }

      .preview {
        float: left;
        height: 50px;
        margin-right: 26px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
          height: 100%;
        }
      }

      .info {
        float: left;
        width: 230px;
        div {
          @extend .no-break-line;
          @extend .text-over-flow-ellipsis;
        }
      }
    }
    .video-play-list-item.active {
      background-color: #383838;
    }
  }
}

@media (max-width: 1200px) {
  .video-play-list {
    margin-left: 10px;
  }
}