.video-place-holder {
  margin: 0;
  padding: 0;
}

.video-detail-container {

  @media (min-width: 1201px) {
    .main-container, .detail-main-container {
      max-width: 1020px;
    }
  }
}
.no-network-tip {
  @extend .panel-view;
  @extend .text-color-gray-dark;
  background-color: $themeColor_BlueLight;
  margin-bottom: -10px;
  padding: 6px 20px;
  box-shadow: none;

  .tip-icon {
    margin-right: 10px;
  }

  .close-button {
    cursor: pointer;
  }
}

.video-detail {
  //padding: 2px 16px;
  padding-bottom: 0;

  .panel-title-view {
    @extend .text-bold;
    margin-bottom: 10px;
  }

  $avatarSize: 50px;
  .user-avatar {
    width: $avatarSize;
    height: $avatarSize;
  }

  .action-buttons {
    @extend .text-color-gray-light;
    @extend .text-size-14;
    @extend .unselectable;
    overflow: auto;

    .collect {
      float: left;
      margin-right: 20px;
      cursor: pointer;
    }
    .share {
      float: left;
      cursor: pointer;
    }
    .thumbs-up {
      float: right;
      cursor: pointer;
    }
  }
  .action-buttons > div.active {
    @extend .text-color-gray-bright;
  }
  .action-buttons > div:hover {
    @extend .text-color-gray-shine;
  }

  .social-share {
    clear: both;
    padding: 6px 0;
    display: none;

    .social-share-icon:before {
      color: #373839;
    }
    .social-share-icon {
      border-color: #828282;
      background: #828282;
    }
    .social-share-icon:hover {
      border-color: #c1c1c1;
      background: #c1c1c1;
    }

    .icon-wechat {
      .wechat-qrcode {
        z-index: 990;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.65);
      }
    }

  }

  .video-basic-info {
    position: relative;

    .palyed-count {
      position: absolute;
      right: 15px;
      top: 21px;
      width: 176px;
      height: 44px;
      line-height: 44px;
      text-align: right;
      border-bottom: 2px solid $themeColor_Red;
    }
  }



  .video-published-date {
    @extend .text-size-14;
    @extend .text-color-gray-bright;
    @extend .margin-top-bottom-8;
  }

  .video-description {
    @extend .text-size-12;
    @extend .text-color-gray-light;
    @extend .margin-top-bottom-8;
  }

  .video-name {
    @extend .text-size-12;
    @extend .text-color-gray-bright;
    @extend .margin-top-bottom-8;
    overflow: auto;

    .title {
      margin-right: 20px;
    }
  }

  .view-more-button {
    @extend .text-color-gray-light;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 0 0 10px 0;
  }

}

.video-recommend-list {
  padding-left: 12px;
  padding-right: 12px;
}

// player
.plyr--captions-active .plyr__controls .icon--captions-on {
  color: $themeColor_Red;
}
.toggle-captions-btn {
  .icon--captions-on {
    color: $themeColor_Red;
  }
}

.plyr--video .plyr__controls button.toggle-ratio-mode {
  position: relative;
  
  span.iconfont, span {
    font-size: 12px;
  }

  .ratio-list {
    position: absolute;
    bottom: 22px;
    padding-bottom: 16px;
    left: 50%;
    width: 112px;
    margin-left: -56px;
    z-index: 10;
    display: none;

    .ratio-list-container {
      box-shadow: 0 2px 3px rgba(0,0,0,0.3);
      .ratio-list-item {
        height: 50px;
        line-height: 50px;
        color: #828282;
        background-color: #2b2b2b;
      }
      .ratio-list-item:hover {
        color: #eeeeee;
        background-color: #383838;
      }
    }

  }
}
//.plyr--video .plyr__controls button.toggle-ratio-mode:hover {
//  .ratio-list {
//    display: block;
//  }
//}

.plyr--video .plyr__controls {
  .volume-group {
    .plyr__volume {
      display: none;
    }
  }

  .volume-group:hover {
    .plyr__volume {
      display: inline-block;
      //position: relative;
      //top: 7px;
    }
  }

}

.detail-main {
  .grid-video-card {
    padding-left: 12px;
    padding-right: 12px;
  }
}
