/*
Error: Undefined variable: "$themeColor_GrayLight".
        on line 13 of grid-video-card.scss

8:   @extend .dev-border;
9:   padding: 10px;
10: 
11:   .image-view {
12:     position: relative;
13:     background-color: $themeColor_GrayLight;
14:     width: 100%;
15:     //min-height: 100px;
16: 
17:     background-image: url("./../image/video-thumbnails/0.jpg");
18:     background-size: cover;

Backtrace:
grid-video-card.scss:13
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:382:in `_render_with_sourcemap'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:299:in `render_with_sourcemap'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/bin/scss:23:in `load'
/Users/huchunbo/.rvm/gems/ruby-2.3.1/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$themeColor_GrayLight\".\A         on line 13 of grid-video-card.scss\A \A 8:   @extend .dev-border;\A 9:   padding: 10px;\A 10: \A 11:   .image-view {\A 12:     position: relative;\A 13:     background-color: $themeColor_GrayLight;\A 14:     width: 100%;\A 15:     //min-height: 100px;\A 16: \A 17:     background-image: url(\"./../image/video-thumbnails/0.jpg\");\A 18:     background-size: cover;"; }
