.has-side-bar-menu {
  .side-bar-menu {
    display: block;
  }
}
.side-bar-menu {
  position: fixed;
  left: 0;
  top: 46px;
  width: 220px;
  height: 100%;
  z-index: 100;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  display: none;

  .item {
    padding-left: 38px;
    height: 30px;
    line-height: 30px;

    .icon {
      float: left;
    }
    .title {
      float: left;
    }
    .info {
      float: right;
    }
  }
}

.side-bar-menu > div
{
  border: 1px solid #ff6600;
}