.video-play-list {
  @extend .panel-view;
  margin-left: 0;

  .video-play-list-view {
    height: 200px;
    overflow-y: scroll;

    .video-play-list-item {
      height: 70px;
      width: 100%;
      clear: both;

      .index {
        @extend .text-color-gray-info;
        float: left;
        text-align: center;
      }

      .preview {
        float: left;
        height: 50px;

        img {
          height: 100%;
          background-color: $themeColor_GrayLight;
        }
      }

      .info {
        float: left;
        width: 140px;
        div {
          @extend .no-break-line;
          @extend .text-over-flow-ellipsis;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .video-play-list {
    padding-left: 10px;
  }
}