<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>频道 - Sumred</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/ui.main.css">
    <!--scripts-->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/js.cookie.js"></script>
    <script src="../static/js/template-loader.js"></script>
    <script src="../static/js/html2canvas.min.js"></script>

    <script data-main="../static/js/pages/channel.js" src="../static/js/require.js"></script>
</head>
<body class="has-side-bar-menu">

<div id="app">
    <template-import file="./../components/navigation-bar.html"></template-import>

    <template-import file="./../components/side-bar-menu.html"></template-import>

    <template-import file="./../components/main-container.html">

        <div class="channel-container">
            <div class="channel-header-container">
                <a href="#" class="item">频道 · 战地</a>

                <div class="search-input-container unfocused">
                    <div class="input-group">
                        <input type="text" class="form-control search-channel-input" aria-label="search">
                        <div class="input-group-btn">
                            <div class="btn search-channel-button">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--轮播-->
            <div class="carousel-container" title="精选推荐">
                <div id="channel-featured-recommend" class="carousel slide" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#channel-featured-recommend" data-slide-to="0" class="active"></li>
                        <li data-target="#channel-featured-recommend" data-slide-to="1"></li>
                        <li data-target="#channel-featured-recommend" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="img" style="background-image: url(../static/image/channel/cover.jpg)" alt="..."></div>
                            <div class="info">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object avatar" src="../static/image/avatars/2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading zh_name">地平线：黎明时分</div>
                                        <div class="en_name">Horizon Zero Dawn</div>
                                        <div class="subscribe">
                                            <div class="btn btn-subscribe unsubscribed">1039</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    In a lush, post-apocalyptic world where nature has reclaimed the ruins of a forgotten civilization,
                                    pockets of humanity live on in primitive...
                                </div>
                                <div class="tags">
                                    <span>PS4独占</span>
                                    <span>动作冒险</span>
                                    <span>SCE</span>
                                </div>
                                <div class="time">2小时前</div>
                                <div class="preview-images">
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel-banner.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/demo-video-thumbnail.png)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel/cover.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img" style="background-image: url(../static/image/channel/cover.jpg)" alt="..."></div>
                            <div class="info">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object avatar" src="../static/image/avatars/2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading zh_name">地平线：黎明时分</div>
                                        <div class="en_name">Horizon Zero Dawn</div>
                                        <div class="subscribe">
                                            <div class="btn btn-subscribe unsubscribed">1039</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    In a lush, post-apocalyptic world where nature has reclaimed the ruins of a forgotten civilization,
                                    pockets of humanity live on in primitive...
                                </div>
                                <div class="tags">
                                    <span>PS4独占</span>
                                    <span>动作冒险</span>
                                    <span>SCE</span>
                                </div>
                                <div class="time">2小时前</div>
                                <div class="preview-images">
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel-banner.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/demo-video-thumbnail.png)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel/cover.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img" style="background-image: url(../static/image/channel/cover.jpg)" alt="..."></div>
                            <div class="info">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object avatar" src="../static/image/avatars/2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading zh_name">地平线：黎明时分</div>
                                        <div class="en_name">Horizon Zero Dawn</div>
                                        <div class="subscribe">
                                            <div class="btn btn-subscribe unsubscribed">1039</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    In a lush, post-apocalyptic world where nature has reclaimed the ruins of a forgotten civilization,
                                    pockets of humanity live on in primitive...
                                </div>
                                <div class="tags">
                                    <span>PS4独占</span>
                                    <span>动作冒险</span>
                                    <span>SCE</span>
                                </div>
                                <div class="time">2小时前</div>
                                <div class="preview-images">
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel-banner.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/demo-video-thumbnail.png)" time="06:30"></div>
                                        </a>
                                    </div>
                                    <div class="item-container">
                                        <a href="#">
                                            <div class="item" style="background-image: url(../static/image/channel/cover.jpg)" time="06:30"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#channel-featured-recommend" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#channel-featured-recommend" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <!--特别推荐-->
            <div class="title">特别推荐</div>
            <div class="row">
            <template v-for="(item, index) in new Array(3)">
                <div class="col-md-4">
                <div class="recommend-card">
                    <div class="img" style="background-image: url(../static/image/channel/cover.jpg)"></div>
                    <div class="head">
                        <div class="avatar">
                            <img src="../static/image/avatars/2.jpg" alt="">
                        </div>
                        <div class="subscribe">
                            <div class="btn btn-subscribe unsubscribed">927</div>
                        </div>
                    </div>
                    <div class="zh_name">地平线：黎明时分</div>
                    <div class="en_name">Horizon Zero Dawn</div>
                    <div class="tags">
                        <span>PS4独占</span>
                        <span>动作冒险</span>
                        <span>SCE</span>
                    </div>
                    <div class="time">2小时前</div>
                    <div class="preview-images">
                        <div class="item" style="background-image: url(../static/image/channel-banner.jpg)"></div>
                        <div class="item" style="background-image: url(../static/image/demo-video-thumbnail.png)"></div>
                        <div class="item" style="background-image: url(../static/image/channel/cover.jpg)"></div>
                    </div>
                </div>
                </div>
            </template>
            </div>

            <!--动作类-->
            <div class="title">动作类</div>
            <div class="row">
            <template v-for="(item, index) in new Array(6)">
                <div class="col-md-4">
                    <div class="recommend-card short">
                        <div class="img" style="background-image: url(../static/image/channel/cover.jpg)"></div>
                        <div class="head">
                            <div class="avatar">
                                <img src="../static/image/avatars/2.jpg" alt="">
                            </div>
                            <div class="subscribe">
                                <div class="btn btn-subscribe unsubscribed">927</div>
                            </div>
                            <div class="zh_name">地平线：黎明时分</div>
                            <div class="en_name">Horizon Zero Dawn</div>
                        </div>
                    </div>
                </div>
            </template>
            </div>

        </div>

    </template-import>
</div>



</body>
</html>