<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>筛选内容 - Sumred</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/ui.main.css">
    <!--scripts-->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/js.cookie.js"></script>
    <script src="../static/js/template-loader.js"></script>
    <script src="../static/js/html2canvas.min.js"></script>

    <script data-main="../static/js/pages/history-search.js" src="../static/js/require.js"></script>
</head>
<body class="has-side-bar-menu">

<div id="app">
    <template-import file="./../components/navigation-bar.html"></template-import>

    <template-import file="./../components/side-bar-menu.html"></template-import>

    <template-import file="./../components/main-container.html">

        <div class="history-container">
            <div class="history-type-switch-container">
                <a href="history-watch.html" class="item">观看记录</a>
                <a href="#" class="item active">搜索记录</a>

                <div class="search-input-container unfocused">
                    <div class="input-group">
                        <input type="text" class="form-control search-history-input" aria-label="search">
                        <div class="input-group-btn">
                            <div class="btn search-history-button">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-result-tip" v-if="searchString">
                {{searchResultCount}}条与 "<span class="search-key">{{searchString}}</span>" 相关的结果
                <div class="separator-line"></div>
            </div>

            <div class="list-container">
                <template v-for="(item, index) in watchHistory">

                    <div class="list-video-card-item-package">
                        <div class="media list-video-card search-history-item">
                            <a href="detail.html">
                                <h4 class="media-heading text-color-blue  text-type-description">
                                    Horizon Zero Dawn All Cutscenes (Game Movie) PS4 PRO 1080p
                                </h4>
                                <div class="text-color-gray-light time">2小时前</div>
                            </a>
                            <div class="delete fa fa-close" :target-id="index"></div>
                        </div>

                        <div class="separator-line"></div>
                    </div>
                </template>
            </div>

            <div class="load-more">
                <a href="#" class="text-color-gray-info">加载更多</a>
            </div>
        </div>

    </template-import>
</div>



</body>
</html>